body {
  padding-top: 70px;
}

#select-fix {
  width: auto;
  align-items: center;
  margin-top: 8px;
  color: #777;
}

option {
  color: #777;
}

h3 {
  margin: 0px;
}

.rowFix {
  margin-top: 3%;
  background-color: #f8f8f8;
  padding: 20px 15px ;
  border-radius: 5px;
  border: 1px solid grey;
}

.rowForm {
  width: 50%;
  margin-top: 3%;
  background-color: aliceblue;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #9a9292;
}

.row-9-Fix {
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.red {
  color: red;
}

.green {
  color: green;
}
