body {
  padding-top: 70px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: lighten(#333, 50%);
}


#select-fix {
  width: auto;
  align-items: center;
  margin-top: 8px;
  color: #777;
}

option {
  color: #777;
}

h3 {
  margin: 0px;
}

.rowFix {
  margin-top: 3%;
  background-color: #f8f8f8;
  padding: 20px 15px ;
  border-radius: 5px;
  border: 1px solid grey;
}

.rowForm {
  width: 50%;
  margin-top: 3%;
  background-color: #d8dff0;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #9a9292;
}

.row-9-Fix {
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#brand {
  color: #8b0000;
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}

.comment {
  margin-top: 30px;
}

.odd {
  background-color: #d8dff0;
  padding: 5px;
  margin: 5px 0px;
}
